/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7d5a3e;
  --ifm-color-primary-dark: #715138;
  --ifm-color-primary-darker: #6a4d35;
  --ifm-color-primary-darkest: #583f2b;
  --ifm-color-primary-light: #896344;
  --ifm-color-primary-lighter: #906847;
  --ifm-color-primary-lightest: #a37551;
  --ifm-background-color: #eae9eb;
}



[data-theme='dark'] .footer__title {
  color: white;
}
.footer__title {
  color: #896344;
}

.footer__copyright{
  color: #583f2b;
}
[data-theme='dark'] .footer__copyright {
  color: white;
}

[data-theme='dark'] #github_logo{
  content: url("@site/static/img/githubDark.svg");
}

[data-theme='dark'] #kth_logo{
  content: url("@site/static/img/kthDark.svg");
}

[data-theme='dark'] #mera_logo{
  filter: invert(1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d5d3d7;
  --ifm-color-primary-dark: #c0bdc3;
  --ifm-color-primary-darker: #b5b2b9;
  --ifm-color-primary-darkest: #95909a;
  --ifm-color-primary-light: #eae9eb;
  --ifm-color-primary-lighter: #f5f4f5;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #0f0600;
}

.row {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping of cards */
  padding: 10px; /* Add padding for spacing */
}

.card {
  display: flex; /* Use flexbox for the card */
  flex-direction: column; /* Arrange children vertically */
  justify-content: space-between; /* Distribute space evenly */
  height: 100%; /* Make sure cards take full height of their parent */
}

.card__body {
  flex-grow: 1; /* Allow the card body to grow */
  padding: 20px; /* Add padding for spacing */
  display: flex; /* Use flexbox for inner layout */
  flex-direction: column; /* Arrange inner items vertically */
  justify-content: space-between; /* Ensure the title, paragraph, and link are spaced evenly */
}

